
.promo {
    background: $main-color-opacity;
    color: $main-black;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_title_big {
        font-style: normal; 
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
    }

    &_title {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        padding-left: 16px;
        border-left: outset 16px $main-color;
        margin-left: 64px;
    }

    &_title_pink {
        color: $main-color;
    }
    &_inside_bg {
        width: 50%;
        height: 764px;
        background-image: url(../img/promo_bg.png); 
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    &_inside_title {
        height: 764px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

}
 
.promo_inner {
    background: $inner-color-opacity;
}

// Главное меню

.main_menu_cross {
    display: flex;
    justify-content: space-between;
}

.header_main_menue {
    background: #FFFFFF;
    box-shadow: $main-shadow;
    padding: 16px;
    height: 764px;
    width: 232px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    // opacity: 0;
    text-transform: uppercase;
}

.header_main_menue_hidden {
    transform: scaleX(0);
}

.main_menu_popup {
    display: block;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    padding-top: 24px;
    padding-left: 16px;
}

.main_menu_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $main-black;
    padding-left: 16px;
    padding-top: 16px;
}

.main_menu_items {
    list-style: none;
}

.main_menu_link {
    color: $grey-text-mediumlight;
}

.main_menu_item {
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
}

.mmi_padding {
    padding-top: 12px;
    padding-left: 24px;
}

.main_menu_svg {
    cursor: pointer;
    fill: $grey-text;
    transform: scale(1);
    transition: 0.2s ease-out 0.2s;

    &:hover {
        fill: $main-color;
        transform: scale(1.1);
        transition: 0.2s ease-out 0.2s;
    }
}
