
// Products

.products {
    padding: 20px 0 95px 0;
}

.products_title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.products_info {
    padding-top: 5px;
    padding-bottom: 48px;
    text-align: center;
    @include text-size-info;
    color: $grey-text;
}

.products_inside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    /* gap: 30px; */
}

.product_card {
    position: relative;
    width: 360px;
    background: $product-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product_card_hover {
    background: $top-multiply;
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s ease-in;
}

.product_card:hover .product_card_hover{
    transform: scale(1);
    opacity: 1;
}

.product_add {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    border: 1px  solid #fff;
    font-weight: normal;
    @include text-size-info;
    color: #FFFFFF;
    transform: scale(1);
    transition: 0.3s ease-out 0.1s;
}

.product_card_img {
    fill: #fff;
    transition: 0.3s ease-out 0.1s; 
}

// .product_add:hover .product_card_img {
//     fill: $main-color;
// }

.product_add:hover {
    // color: $main-color;
    // border-color: $main-color;
    transform: scale(1.1);
}


.product_margin_right {
    margin-right: 12px;
}

.product_info {
    padding: 20px 20px 0 16px;
}

.product_name {
    @include text-size-info;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.product_description {
    font-weight: 300;
    @include text-size-info;
    color: $grey-text;
}
.product_price {
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
    padding: 20px 20px 20px 16px;
}

.product_link {
    display: inline-block;
    padding: 14px 39px;
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
    border: 1px solid $main-color;
    margin-top: 33px;
    transform: scale(1);
    transition: 0.3s ease-out 0.1s;

    &:hover {
        background-color: $main-color;
        color: #fff;
        transform: scale(1.1);
        transition: 0.3s ease-out 0.1s;
     }
}
