@media (max-width:1240px) {

    // .langlist {
    //     width: ($lettercube * 3);
    // }

    .wrap_total {
        padding: 0;
    }

    .langlisttitle {
        white-space: normal;
    }

    .legendtextwrap {
        // column-count: 1;
        // column-gap: 0;
        display: block;
        padding: 0 20px;
    }

}

@media (max-width:1100px) {

    .tooltips_wrap {
        width: 100%;
    }

    .langinfo_next {
        width: 100%;
    }

    .legendbg {
        align-items: flex-start;
        padding: 8px 14px;
    }

    .legenbtnswrap {
        flex-direction: column;
    }


    .legenddiv {
        display: none;
    }

    .togglebtnstitle {
        display: none;
    }

    .filterswrap {
        gap: 20px
    }
}

@media (max-width:950px) {

    .langtitle {
        font-size: 52px;
        line-height: 58px;
    }

    .innercontainer {
        flex-direction: column;
    }

    .langparams {
        width: 100%;
        padding-bottom: 0;
    }

    .langinfo {
        padding: 25px 0 10px 0;
        width: 100%;
    }

    .langinfo_next {
        padding-top: 5px;
        width: 100%;
    }

    .legendinfocontainer {
        display: block;
    }

    .legendinfowrap60,
    .legendinfowrap40 {
        width: 100%;
        padding: 10px 0;
    }

    .top_menu {
        display: flex;
        gap: 15px;
    }
}

@media (max-width:700px) {

    .tooltips_wrap {
        width: 100%;
        display: block;
    }

    .tooltip_container {
        width: 100%;
        padding: 0 20px 20px 0;
    }

    .langmenu,
    .wrap_topmenu {
        display: none;
    }

    .wrap_mobmenu {
        display: block;
    }

    .container {
        width: 100%;
    }

    .burger_topmenu {
        display: block;
    }

    .mobcsswrap {
        display: block;
    }

    .langtitle {
        font-size: 24px;
        line-height: 27px;
    }

    .langparams {
        width: 100%;
        padding: 25px 0 10px 0;
    }

    .langlistbutton {
        margin: 6px 12px 6px 0;
        padding: 7px 10px;
        font-size: 16px;
    }


    // .mobilemenuwrap {
    //     display: block;
    // }
}